.container {
    width: 400px;
    padding: 30px 30px 30px 30px;
    margin: auto;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px 3px #0000001f;
    border-radius: 5px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
p {
    text-align: center;
}
.title {
    color: var(--blue);
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1rem;
}
.inputText {
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--blue);
}
.inputDateText {
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--blue);
}
.btnRegister {
    width: 90%;
    background-color: var(--blue);
    color: white;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
}
.btnRegister:active {
    opacity: 0.9;
    border: 5px solid wheat;
}
